.game-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-content: center;
    row-gap: 1.5vh;
}

.game-board {
    display: inline-grid;
    width: 40vw;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    align-content: center;
    gap: 2vh;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 400;
    color: #001eff;
    background-color: #ffffff;
    border-color: #e6e7ee;
    cursor: pointer;
    border-radius: 0.55rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.square:hover {
    box-shadow: inset 2px 2px 5px #163aed, inset -2px -2px 5px #163aed !important;
}

.game-controls {
    margin-top: 7vh;
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: var(--spacing-unit);
}

.status {
    font-size: 1.2rem;
    color: white;
}